.gallery-link {
  text-decoration: none;
}

.gallery {
  max-width: 1200px;
  padding: 80px 36px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px 24px;
  flex-wrap: wrap;
}

.page-home .gallery {
  padding: 16px 24px 16px;
}

.page-gallery .gallery {
  padding: 12px 24px 8px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    transform: scale(1.02);
  }
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
